<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>
      You have ordered the following item(s),
      <%= @order.id %>
      <%= @order.total_cents %>
    </h1>
    <p>Thanks for your order.  Have a great day!</p>
  </body>
</html>
